#screen {
  height: 80vh;
}

#rsbutton li {
  display: inline;
  padding-right: 15px;
}

#feed {
  width: 75%;
  height: 91vh;
  overflow-x: auto;
}

#group {
  height: 91vh;
}

.add button {
  margin: 5px;
  float: right;
}

.title {
  color: #444;
}
.header {
  display: flex;
}
.header img {
  margin-right: 50px;
  color: #444;
}
/* .header h6 {
  padding-top: 10px;
} */

.groupInfo {
  color: #888;
  border: none;
}

.groupInfo i {
  color: #f50057;
}

.group ul {
  border: none;
}

#modal1 {
  z-index: 12;
  margin-left: 5%;
  width: 65%;
  overflow-x: auto;
}

#groupInfoPlus {
  z-index: 12;
  margin-left: 1%;
  width: 73%;
  overflow-x: auto;
}

.plus {
  padding: 0px;
  margin: 0px;
}

.panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 400px;
}

#dmGroup {
  background-color: #f0f0f0;
}

#infoVoyage {
  background-color: #e0e0e0;
}

.groupDMhead ul {
  display: flex;
}
.groupDMhead li {
  max-width: 35px;
}

.sender-area {
  background-color: #343541;
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 8px;
}

.message {
  width: 100%;
  height: 40px;
}

.message.one,
.message.three,
.message.five {
  background-color: #2e2f3a;
}

.message.two,
.message.four,
.message.six {
  background-color: #343541;
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  width: 230px;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}

.send-input::placeholder {
  color: #828e9e;
}

.input-place {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  align-items: center;
  background-color: #40414f;
  border-radius: 7px;
  height: 40px;
  width: 280px;
  gap: 5px;
  border: 1px solid #2e2f3a;
}

.send {
  width: 30px;
  height: 30px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 17px;
}

.searchF {
  margin-left: 10px;
  margin-right: 80px;
}
.im {
  border: red 1px solid;
}
/* Scrollbars */

/* Works on Firefox */
* {
  scrollbar-width: none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

#modal2 {
  top: 0;
  margin-left: 0%;
  margin-top: 0%;
  width: 25%;
  max-height: 100vh;
}

#modal4 {
  margin-left: 0%;
  margin-top: 0%;
  width: 25%;
  height: 100vh;
  max-height: 100vh;
}

.listeAmi {
  width: 100%;
  height: 100vh;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  width: 100%;
  height: 70px;
  background-color: #b6d6ff;
  padding-left: 3%;
}

.list p {
  width: 40%;
  font-size: medium;
}

.af {
  height: 40px;
  padding-bottom: 20px;
}
.msg {
  padding-left: 10%;
}

.chatlist {
  background-color: #828e9e6c;
  padding: 5%;
  border-radius: 5px;
  height: 70vh;
  overflow-y: auto;
}

.chat {
  background-color: #b6d6ff;
  border-radius: 7px;
}

.chatheader {
  margin-top: 3%;
  margin-left: 3%;
  height: 50px;
}

.chathostheader {
  display: flex;
  align-items: center;
  padding-left: 65%;
  height: 50px;
}

.chathostheader p {
  margin-right: 3%;
}

.chatheader p {
  margin-left: 3%;
}

.chat p {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.input-field {
  align-items: center;
  margin-top: 10px;
  height: 20vh;
}

.input-field input {
  flex-grow: 1;
  margin-right: 10px;
}

.input-field button {
  flex-shrink: 0;
}

.input-amis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.input-amis input {
  flex-grow: 1;
  margin-right: 10px;
}

.input-amis button {
  flex-shrink: 0;
}

#join-travel {
  position: absolute;
  bottom: 0.5%;
  right: 1%;
}
#image_avion {
  width: 50px;
  height: 50px;
}
#partage_voyage {
  display: flex;
  align-items: center;
}
#newGroup {
  visibility: hidden;
  margin: 0.5em;
}
#photos > a {
  background-color: lightgray;
  height: 11em;
  width: 11em;
  padding: 0;
}
#photos,
#select-photos,
#btn-loc-friend {
  margin-top: 5%;
  margin-bottom: 5%;
}
.selecte-img {
  height: 100%;
  width: 100%;
}
#description-label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1%;
}

#description-textarea {
  font-size: 0.8rem;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
#photos > a{
  display: flex;
  align-items: center;
  justify-content: center;
}



.btn-share-travel{
  display: flex;
  justify-content: flex-end; 
  padding-top: 5px;
}


#btn-friend{
  position: relative; 
  width: 80px; 
  height: 36px; 
  padding: 0; 
  overflow: visible; 
}



.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  --border-radius: 30%;
}



.new-travel-found{
  align-items: center;
  display: flex;
}