#screen {
  height: 80vh;
}
#rsbutton li {
  display: inline;
}

#feed {
  width: 75%;
  height: 91vh;
  overflow-x: auto;
}

#group {
  height: 91vh;
}

.add button {
    margin: 5px;
    float: right;
}